core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txtvenv/
venv/
.env

# Env & local DB
.env
.env.*
instance/*.db
*.sqlite


# Allow safe env template
!.env.sample
